.login-layout,
.login-form-container {
	height: 100%;
	width: 100%;
}

.login-form-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	width: 70%;
	height: 70%;
	display: flex;
	flex-direction: column;
	background: #d3ebfc;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 1px rgba(126, 126, 126, 0.151);
	form {
		width: 100%;
		padding: 30px 20px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;

		input {
			height: 60px;
			padding: 0 20px;
			font-size: 30px;
			border-radius: 5px;
			box-sizing: border-box;
			border: none;
			outline: none;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}
.floating-socials {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
}
.box {
	position: relative;
	flex: 1 1 auto;
	// height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	.monstrik {
		cursor: pointer;
		width: 75px;
		height: 75px;
		position: absolute;
		bottom: 10%;
		left: calc(50% - 37.5px);
	}
}
